################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/KOA_2020/v16
/KOA_2020/Debug
/Debug
