################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/KOA_2020/v16
/KOA_2020/Debug
/Debug
/KOA_2020_asm/Debug
/KOA_2020_asm/KOA_2020_asm.vcxproj
/KOA_2020_asm/KOA_2020_asm.vcxproj.filters
/KOA_2020_asm/KOA_2020_asm.vcxproj.user
/StandartLib
/DateTime
